html, body{
    padding: 0.5rem;
}

.header{
    display: grid;
    grid-template-columns:  1fr 1fr;
}

@media(max-width: 850px){
    .header{
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }
}

.headerUl{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.headerButton{
    border: 1px solid black;
    background: transparent;
    height: 3rem;
    width: 11rem;
    margin-bottom: 7px;
    cursor: pointer;
    color: black;
}

.headerNav{
    display: grid;
}

.title {
    font-size: 5rem;
}

img{
    width: 40%;
}

section{
    display: grid;
    justify-items: center;
    align-items: center;
}

section > p {
    text-align: left;
    width: 80%;
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 3rem;
}