@font-face {
    font-family: "namun" ;
    src: url(./Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
    font-weight: normal;
    unicode-range: U+000-5FF;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

* {
	padding: 0;
	margin: 0;
    font-family: "namun", Fallback, 'Times New Roman', Times, serif;
}
